#foto{

position:absolute;

top:0;

left:0;

width:430px;

height:764px;

object-fit:cover;

z-index:1;

}

.moldura{

position:absolute;

top:0;

left:0;

width:430px;

height:764px;

z-index:2;

pointer-events:none;

}